<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>termlib</title>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
<a href="#main-content" class="visually-hidden">skip to main content</a>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="index.html">Project</a></li>
    <li><a href="LICENSE">LICENSE</a></li>
    <li><a href="INSTALL.html">INSTALL</a></li>
    <li><a href="user_manual.html">User Manual</a></li>
    <li><a href="about.html">About</a></li>
    <!-- <li><a href="search.html">Search</a></li> -->
    <li><a href="https://github.com/rsdoiel/termlib">Code Repository</a></li>
</ul>
</nav>
<section id="main-content">
${body}
</section>
</body>
</html>
